@page
@model Library.App.Pages.Search.SearchBookModel
@{
    ViewData["Title"] = "SearchBook";
}

<h2>Search result is @Model.searchString</h2>
<ul>
    @foreach (var item in Model.SearchingBooks)
    {
        <li>
            @item.Title (book)
        </li>
    }

    @foreach (var item in Model.SearchingAuthors)
    {
        <li>
            @item.AuthorName author
        </li>
    }
</ul>

